.Profile .leftcol {
    width: 70%;
  }
  
  .Profile .rightcol {
    width: 30%;
    text-align: center
  }

  .Profile {
    margin-left: 20px
  }

 .imageContainer {
   height: 100px;
   width: 100px;
 }

 .imageContainer img {
   width: 100px;
   height: 100px;
   z-index: 1;
 }

 .myBody {
  display: grid;
  grid-template-columns: 100px auto;
  grid-column-gap: 20px;
  
 }

 .floatRight {
   float: right
 }

 .outerGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 20px;
 }

 .buttonPanel {
   grid-column: 2 / 3;
   
   
 }

 Button {
   float:right;
 }

 .Stats {
  width: 300px;
  background: #FFFFFF;
  border: 1px solid #979797;
  box-sizing: border-box;
  height: 500px;
  float: right;
  margin-right: 50px;
  /* display: grid; */
  /* grid-template-columns: 40% 60%;
  grid-column-gap: 0; */
 }

 #statstitle {
   /* grid-column: 1 / 3; */
   font-family: 'Lato', sans-serif;
   font-style: normal; 
 }

 .rightcol {
   align-content: center;
 }

 .Num {
   font-size: 30px;
   align-content: right;
 }


.spinning.glyphicon {
  margin-left: 65%;
  margin-top: 20%;
  font-size: 100px;
  top: 2px;
  animation: spin 1s infinite linear;
}


@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}



.headerGrid{
  display: grid;
  grid-template-columns: 100px auto;
  vertical-align: middle;
  
}
.pTrailName{
  font-weight: bold;
}
p.subInfo {
  font-size: 13px;
  margin: 0 0 0 0;
  /* width: 50%; */
  float: left;
}
.subInfoDiv {
  width: 50%;
}
.infoDiv {
  padding: 5px;
  /* margin: 3 3 3 3; */
}
.panel-heading {
  padding: 0;
}
.iconButton{
  width: 25px;
  height: 25px;
  padding: 0;
  float: right;
  border: none;
  background: none;
  /* padding: 3px; */
  margin-left: 8px;
}


.headerGrid p,h1,h2,button {
  font-family: 'Lato', sans-serif;
  font-weight: 300px;
}

.pStats {
  margin: 0;
  float: left;
  font-size: 13px;
  /* vertical-align: bottom;
  display: table-cell; */
}

.pStatsCol {
  height: 100%;
  /* vertical-align: bottom; */
  padding-top: 16px;
  padding-left: 6px;
}
.Stats .col {
  height: 55px;
  
}
 
 .btn-primary {
  /* background: none;
  border: none;
  color: none;
  padding: 0;
  font-size: 0;
  line-height: 0;
  border-radius: 0;
  width: 30px;
  height: 30px; */
}

#editButton {
  width: 50px;
}