

  
    .Signup form {
      margin: 0 auto;
      max-width: 320px;
    }
  
  .Signup form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }


  .SignupCol {
    /* background-color: rgb(211, 211, 211); */
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;

    background-color: #F1F0EB;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
  }

  .SignupCol h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    color: #414141;
  }

  .SignupCol button {
    background: #72AFAD;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
  }



  .SignupCol p {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    padding: 10px;
    /* identical to box height */


    color: #414141;

  }

  .col {
    width: 50%;
    height: 100%;
    min-height: 100%;
    margin: 0 0 0 0;
    display: inline-block;
    float: left;
    /* position: absolute; */
  }
  .fill {
    min-height:100vh;
    height: 100vh;
    min-width: 100%;
    width: 100%;
    padding: 0 0 0 0;
  }
  .App.container {
    margin: 0 0 0 0;
    width: 100%;
    padding: 0 0 0 0;
    height: 100vh;
  }

  .signupDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }

  .pNewUser {
    /* height: 20px; */
    margin-top: 60px;
  }