
.App .navbar-brand {
  font-weight: bold;
  padding: 0 0 0 0;
  position: relative;
  height: 100%;
  width: 35%;
}


.navbar {
  background: #586B46;
  border: 1px solid #979797;
  box-sizing: border-box;
  height: 65px;
}
.navbar-brand a {
  /* float: left; */
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #ffffff;
  float: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  
  
}
.navbar-brand svg {
  width: 25%;
  /* float: left; */
}
.container-fluid{
  height: 100%;
}
.navbar-default .navbar-text {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  /* font-size: 25px; */
  color: #ffffff;
  /* float: left; */
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* width: 35%; */
}
.navLogout a {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  

  color: #586B46;
  background: rgba(255, 255, 255, 0.475497);
  /* height: 1%; */


  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  text-decoration: none;
  border-radius: 5px;
  /* margin: auto; */
  
  
  color: #586B46;
  
  background: rgba(255, 255, 255, 0.7);
}
.navLogout:hover {
  background-color: rgba(255, 255, 255, 0.575497);
  color: #ffffff;
  
}
.navLogout {
  border-radius: 5px;
  /* height: 1%; */
}

.rightNav {
  /* background-color: aqua; */
  /* position: relative;
   */
  margin-top: 5px; 
  margin-bottom: 5px;

}

#emailprofilelink :hover{
  color: black;
}



